.list_item {
  height: fit-content;
  width: fit-content;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #515151;
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #2d2d2d;
}

.title_uppercase {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  text-transform: uppercase;
  color: #2d2d2d;
}
