.promo_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 18px 16px 16px;
  background: #f7f7f7;
  border-radius: 8px;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: #707070;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #182840;
}
