.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  gap: 16px;
  padding: 24px 0;
  border-bottom: 1px solid #ebebeb;

  @media (max-width: 767px) {
    padding: 16px;
    max-width: 304px;
    width: 100%;
    max-height: 250px;
    height: 100%;
    border-radius: 8px;
    background-color: #fff;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.full_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #2d2d2d;
}

.role {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: #707070;
}

.comment {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #182840;
}

.time {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: #707070;
}
