* {
  padding: 0;
  margin: 0;
}

.news_preview_item {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.date {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: #707070;
  margin: 18.5px 0 10px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #182840;
}

.large_item {
  .title {
    font-size: 28px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }
}
