.footer_social_links {
  display: flex;
  flex-direction: column;
  gap: 33px;
  height: fit-content;

  @media (max-width: 767px) {
    gap: 24px;
    height: 170px;
  }
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #2d2d2d;
}

.social_links_list {
  display: flex;
  align-items: center;
  max-height: 22px;
  height: 100%;
  width: 100%;

  gap: 32px;

  @media (max-width: 767px) {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 115px;
    column-gap: 75px;
    row-gap: 24px;
  }
}
